/net/wireguard/.check
/net/wireguard/Kbuild
/net/wireguard/Kconfig
/net/wireguard/Makefile
/net/wireguard/allowedips.c
/net/wireguard/allowedips.h
/net/wireguard/compat/Kbuild.include
/net/wireguard/compat/checksum/checksum_partial_compat.h
/net/wireguard/compat/compat-asm.h
/net/wireguard/compat/compat.h
/net/wireguard/compat/dst_cache/dst_cache.c
/net/wireguard/compat/dst_cache/include/net/dst_cache.h
/net/wireguard/compat/fpu-x86/include/asm/fpu/api.h
/net/wireguard/compat/intel-family-x86/include/asm/intel-family.h
/net/wireguard/compat/memneq/include.h
/net/wireguard/compat/memneq/memneq.c
/net/wireguard/compat/neon-arm/include/asm/neon.h
/net/wireguard/compat/ptr_ring/include/linux/ptr_ring.h
/net/wireguard/compat/simd/include/linux/simd.h
/net/wireguard/compat/simd-asm/include/asm/simd.h
/net/wireguard/compat/siphash/include/linux/siphash.h
/net/wireguard/compat/siphash/siphash.c
/net/wireguard/compat/udp_tunnel/include/net/udp_tunnel.h
/net/wireguard/compat/udp_tunnel/udp_tunnel.c
/net/wireguard/compat/udp_tunnel/udp_tunnel_partial_compat.h
/net/wireguard/cookie.c
/net/wireguard/cookie.h
/net/wireguard/crypto/Kbuild.include
/net/wireguard/crypto/include/zinc/blake2s.h
/net/wireguard/crypto/include/zinc/chacha20.h
/net/wireguard/crypto/include/zinc/chacha20poly1305.h
/net/wireguard/crypto/include/zinc/curve25519.h
/net/wireguard/crypto/include/zinc/poly1305.h
/net/wireguard/crypto/zinc/blake2s/blake2s-x86_64-glue.c
/net/wireguard/crypto/zinc/blake2s/blake2s-x86_64.S
/net/wireguard/crypto/zinc/blake2s/blake2s.c
/net/wireguard/crypto/zinc/chacha20/chacha20-arm-glue.c
/net/wireguard/crypto/zinc/chacha20/chacha20-arm.S
/net/wireguard/crypto/zinc/chacha20/chacha20-arm64.S
/net/wireguard/crypto/zinc/chacha20/chacha20-mips-glue.c
/net/wireguard/crypto/zinc/chacha20/chacha20-mips.S
/net/wireguard/crypto/zinc/chacha20/chacha20-x86_64-glue.c
/net/wireguard/crypto/zinc/chacha20/chacha20-x86_64.S
/net/wireguard/crypto/zinc/chacha20/chacha20.c
/net/wireguard/crypto/zinc/chacha20poly1305.c
/net/wireguard/crypto/zinc/curve25519/curve25519-arm-glue.c
/net/wireguard/crypto/zinc/curve25519/curve25519-arm.S
/net/wireguard/crypto/zinc/curve25519/curve25519-fiat32.c
/net/wireguard/crypto/zinc/curve25519/curve25519-hacl64.c
/net/wireguard/crypto/zinc/curve25519/curve25519-x86_64-glue.c
/net/wireguard/crypto/zinc/curve25519/curve25519-x86_64.c
/net/wireguard/crypto/zinc/curve25519/curve25519.c
/net/wireguard/crypto/zinc/poly1305/poly1305-arm-glue.c
/net/wireguard/crypto/zinc/poly1305/poly1305-arm.S
/net/wireguard/crypto/zinc/poly1305/poly1305-arm64.S
/net/wireguard/crypto/zinc/poly1305/poly1305-donna32.c
/net/wireguard/crypto/zinc/poly1305/poly1305-donna64.c
/net/wireguard/crypto/zinc/poly1305/poly1305-mips-glue.c
/net/wireguard/crypto/zinc/poly1305/poly1305-mips.S
/net/wireguard/crypto/zinc/poly1305/poly1305-mips64.S
/net/wireguard/crypto/zinc/poly1305/poly1305-x86_64-glue.c
/net/wireguard/crypto/zinc/poly1305/poly1305-x86_64.S
/net/wireguard/crypto/zinc/poly1305/poly1305.c
/net/wireguard/crypto/zinc/selftest/blake2s.c
/net/wireguard/crypto/zinc/selftest/chacha20.c
/net/wireguard/crypto/zinc/selftest/chacha20poly1305.c
/net/wireguard/crypto/zinc/selftest/curve25519.c
/net/wireguard/crypto/zinc/selftest/poly1305.c
/net/wireguard/crypto/zinc/selftest/run.h
/net/wireguard/crypto/zinc.h
/net/wireguard/device.c
/net/wireguard/device.h
/net/wireguard/dkms.conf
/net/wireguard/hashtables.c
/net/wireguard/hashtables.h
/net/wireguard/main.c
/net/wireguard/messages.h
/net/wireguard/netlink.c
/net/wireguard/netlink.h
/net/wireguard/noise.c
/net/wireguard/noise.h
/net/wireguard/peer.c
/net/wireguard/peer.h
/net/wireguard/queueing.c
/net/wireguard/queueing.h
/net/wireguard/ratelimiter.c
/net/wireguard/ratelimiter.h
/net/wireguard/receive.c
/net/wireguard/selftest/allowedips.c
/net/wireguard/selftest/counter.c
/net/wireguard/selftest/ratelimiter.c
/net/wireguard/send.c
/net/wireguard/socket.c
/net/wireguard/socket.h
/net/wireguard/tests/debug.mk
/net/wireguard/tests/netns.sh
/net/wireguard/tests/qemu/Makefile
/net/wireguard/tests/qemu/arch/aarch64.config
/net/wireguard/tests/qemu/arch/aarch64_be.config
/net/wireguard/tests/qemu/arch/arm.config
/net/wireguard/tests/qemu/arch/armeb.config
/net/wireguard/tests/qemu/arch/i686.config
/net/wireguard/tests/qemu/arch/m68k.config
/net/wireguard/tests/qemu/arch/mips.config
/net/wireguard/tests/qemu/arch/mips64.config
/net/wireguard/tests/qemu/arch/mips64el.config
/net/wireguard/tests/qemu/arch/mipsel.config
/net/wireguard/tests/qemu/arch/powerpc.config
/net/wireguard/tests/qemu/arch/powerpc64le.config
/net/wireguard/tests/qemu/arch/x86_64.config
/net/wireguard/tests/qemu/debug.config
/net/wireguard/tests/qemu/init.c
/net/wireguard/tests/qemu/kernel.config
/net/wireguard/timers.c
/net/wireguard/timers.h
/net/wireguard/tools/INSTALL
/net/wireguard/tools/Makefile
/net/wireguard/tools/completion/wg-quick.bash-completion
/net/wireguard/tools/completion/wg.bash-completion
/net/wireguard/tools/config.c
/net/wireguard/tools/config.h
/net/wireguard/tools/containers.h
/net/wireguard/tools/curve25519.c
/net/wireguard/tools/curve25519.h
/net/wireguard/tools/encoding.c
/net/wireguard/tools/encoding.h
/net/wireguard/tools/genkey.c
/net/wireguard/tools/ipc.c
/net/wireguard/tools/ipc.h
/net/wireguard/tools/man/wg-quick.8
/net/wireguard/tools/man/wg.8
/net/wireguard/tools/mnlg.c
/net/wireguard/tools/mnlg.h
/net/wireguard/tools/pubkey.c
/net/wireguard/tools/set.c
/net/wireguard/tools/setconf.c
/net/wireguard/tools/show.c
/net/wireguard/tools/showconf.c
/net/wireguard/tools/subcommands.h
/net/wireguard/tools/systemd/wg-quick@.service
/net/wireguard/tools/terminal.c
/net/wireguard/tools/terminal.h
/net/wireguard/tools/wg-quick/android.c
/net/wireguard/tools/wg-quick/darwin.bash
/net/wireguard/tools/wg-quick/freebsd.bash
/net/wireguard/tools/wg-quick/linux.bash
/net/wireguard/tools/wg-quick/openbsd.bash
/net/wireguard/tools/wg-quick/wg
/net/wireguard/tools/wg.c
/net/wireguard/uapi/wireguard.h
/net/wireguard/version.h
#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.tar
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.ll
modules.builtin
Module.symvers
*.dwo
*.su
*.c.[012]*.*

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# tar directory (make tar*-pkg)
#
/tar-install/

#
# git files that we don't want to ignore even if they are dot-files
#
!.gitignore
!.mailmap
!.cocciconfig

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# id-utils files
ID

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
all.config

# Kdevelop4
*.kdev4
